*{
    margin:0;
    padding:0;
}

.container{
    height:75vh;
}

.addCityInput{
    background-image: linear-gradient(45deg, #04003b 0%, #090979 35%, #31dcff 100%);

}
.citiesData{
    overflow: auto;
}
.citiesData ,p{
    margin-bottom:0;
}